<div id="EntryQueueRequest">
	<div class="titlebar" data-background="basic_interface/titlebar_mid.bmp">
		<div class="left">
			<button
				class="base"
				data-background="basic_interface/sys_base_off.bmp"
				data-hover="basic_interface/sys_base_on.bmp"
			></button>
			<span class="text" data-text="2133">Request entering the battleground</span>
		</div>
		<div class="clear"></div>
	</div>
	<div class="text-box">
		<div class="line title"></div>
		<div class="line" data-text="2127">Would you like to move to the battleground?</div>
		<div class="line"></div>
		<div class="line" data-text="2128">[Note]</div>
		<div class="line" data-text="2129">If current location is not a town, field or normal dungeon</div>
		<div class="line" data-text="2130">you will be moved to your saved point</div>
		<div class="line" data-text="2131">after the battle is finished.</div>
	</div>
	<span class="countdown"></span>
	<button class="ok" data-background="btn_ok.bmp" data-hover="btn_ok_a.bmp" data-down="btn_ok_b.bmp"></button>
	<button
		class="cancel"
		data-background="btn_cancel.bmp"
		data-hover="btn_cancel_a.bmp"
		data-down="btn_cancel_b.bmp"
	></button>
</div>
