<div id="EntryQueue">
	<div class="titlebar" data-background="basic_interface/titlebar_mid.bmp">
		<div class="left">
			<button
				class="base"
				data-background="basic_interface/sys_base_off.bmp"
				data-hover="basic_interface/sys_base_on.bmp"
			></button>
			<span class="text" data-text="1539">Battleground</span>
		</div>
		<div class="right">
			<button
				class="base close"
				data-background="basic_interface/sys_close_off.bmp"
				data-hover="basic_interface/sys_close_on.bmp"
			></button>
		</div>
		<div class="clear"></div>
	</div>
	<span class="hint" data-text="2149">Choose a battleground</span>
	<div class="list"></div>
	<div class="image"></div>
	<div class="info">
		<div class="row"><span class="label" data-text="2139">Name</span><span class="value"></span></div>
		<div class="row"><span class="label" data-text="2140">Players</span><span class="value"></span></div>
		<div class="row"><span class="label" data-text="2141">Level</span><span class="value"></span></div>
		<div class="row"><span class="label" data-text="2142"></span><span class="value"></span></div>
		<div class="row"><span class="label" data-text="2143"></span><span class="value"></span></div>
		<div class="row"><span class="label" data-text="2144"></span><span class="value"></span></div>
		<div class="row"><span class="label" data-text="2145"></span><span class="value"></span></div>
	</div>
	<button
		class="apply solo"
		data-type="1"
		data-background="battle_field/apply_individual.bmp"
		data-hover="battle_field/apply_individual_a.bmp"
		data-down="battle_field/apply_individual_b.bmp"
	></button>
	<button
		class="apply party"
		data-type="2"
		data-background="battle_field/apply_party.bmp"
		data-hover="battle_field/apply_party_a.bmp"
		data-down="battle_field/apply_party_b.bmp"
	></button>
	<button
		class="apply guild"
		data-type="4"
		data-background="battle_field/apply_guild.bmp"
		data-hover="battle_field/apply_guild_a.bmp"
		data-down="battle_field/apply_guild_b.bmp"
	></button>
</div>
