<div id="EntryQueueStandBy">
	<div class="titlebar" data-background="basic_interface/titlebar_mid.bmp">
		<div class="left">
			<button
				class="base"
				data-background="basic_interface/sys_base_off.bmp"
				data-hover="basic_interface/sys_base_on.bmp"
			></button>
			<span class="text" data-text="2135">Waiting status to enter</span>
		</div>
		<div class="clear"></div>
	</div>
	<div class="text-box">
		<div class="line name"></div>
		<div class="line players"></div>
		<div class="line ranking"></div>
	</div>
	<button
		class="cancel"
		data-background="cancel_waiting.bmp"
		data-hover="cancel_waiting_a.bmp"
		data-down="cancel_waiting_b.bmp"
	></button>
	<button
		class="close"
		data-background="btn_close.bmp"
		data-hover="btn_close_a.bmp"
		data-down="btn_close_b.bmp"
	></button>
</div>
