<div id="GuildStorageLog">
	<div class="titlebar" data-background="basic_interface/titlebar_mid.bmp">
		<div class="left">
			<button
				class="base"
				data-background="basic_interface/sys_base_off.bmp"
				data-hover="basic_interface/sys_base_on.bmp"
			></button>
			<span class="text" data-text="2547">Guild Storage Logs</span>
		</div>
		<div class="clear"></div>
	</div>
	<div class="tabs">
		<span class="tab" data-filter="0" data-text="2544">All</span>
		<span class="tab" data-filter="1" data-text="2545">In</span>
		<span class="tab" data-filter="2" data-text="2546">Out</span>
	</div>
	<span class="notice" data-text="2548">Last 100 entries will be displayed.</span>
	<span class="header col-item" data-text="2538">Item</span>
	<span class="header col-count" data-text="2539">Qty</span>
	<span class="header col-name" data-text="2540">Name</span>
	<span class="header col-time" data-text="2541">Time</span>
	<div class="list"></div>
	<ui-button
		class="prev"
		bg="basic_interface/stickon.bmp"
		hover="basic_interface/stickon_a.bmp"
		down="basic_interface/stickon_b.bmp"
	></ui-button>
	<span class="page"></span>
	<ui-button
		class="next"
		bg="basic_interface/stickoff.bmp"
		hover="basic_interface/stickoff_a.bmp"
		down="basic_interface/stickoff_b.bmp"
	></ui-button>
	<ui-button
		class="close"
		bg="basic_interface/btn_close.bmp"
		hover="basic_interface/btn_close_a.bmp"
		down="basic_interface/btn_close_b.bmp"
	></ui-button>
</div>
