<div id="PartyBooking">
	<div class="titlebar" data-background="basic_interface/titlebar_mid.bmp">
		<div class="left">
			<button
				class="base"
				data-background="basic_interface/sys_base_off.bmp"
				data-hover="basic_interface/sys_base_on.bmp"
			></button>
			<span class="text" data-text="1689">Party Booking List</span>
		</div>
		<div class="right">
			<button
				class="base close"
				data-background="basic_interface/sys_close_off.bmp"
				data-hover="basic_interface/sys_close_on.bmp"
			></button>
		</div>
		<div class="clear"></div>
	</div>
	<span class="label label-level">LEVEL</span>
	<input type="text" class="level" maxlength="3" />
	<span class="label label-map" data-text="1698">Map</span>
	<select class="region"></select>
	<select class="map"></select>
	<span class="label label-job">Job</span>
	<select class="category"></select>
	<select class="job"></select>
	<span class="checkbox notice"><ui-image src="checkbox_0.bmp"></ui-image><span data-text="1694">Notice</span></span>
	<ui-button class="search" bg="btn_find.bmp" hover="btn_find_a.bmp" down="btn_find_b.bmp"></ui-button>
	<div class="header">
		<span class="col-time" data-text="1697">hour(s)</span>
		<span class="col-name" data-text="407">Name</span>
		<span class="col-level" data-text="408">Level</span>
		<span class="col-map" data-text="1698">Map</span>
	</div>
	<div class="list"></div>
	<button class="more" data-background="basic_interface/more_info.bmp"></button>
	<span class="recruit" data-text="1763">Recruit</span>
	<ui-button
		class="whisper"
		bg="basic_interface/direct_chat.bmp"
		hover="basic_interface/direct_chat.bmp"
		down="basic_interface/direct_chat.bmp"
	></ui-button>
	<span class="talk" data-text="1834">Talk</span>
	<ui-button class="ok" bg="btn_ok.bmp" hover="btn_ok_a.bmp" down="btn_ok_b.bmp"></ui-button>
</div>
