<div id="PartyBookingAd">
	<div class="titlebar" data-background="basic_interface/titlebar_mid.bmp">
		<div class="left">
			<button
				class="base"
				data-background="basic_interface/sys_base_off.bmp"
				data-hover="basic_interface/sys_base_on.bmp"
			></button>
			<span class="text" data-text="1690">Recruiting Party</span>
		</div>
		<div class="clear"></div>
	</div>
	<div class="mascot"></div>
	<span class="timer">00:00:00</span>
	<ui-button class="rewrite" bg="btn_rewrite.bmp" hover="btn_rewrite_a.bmp" down="btn_rewrite_b.bmp"></ui-button>
	<ui-button class="cancel" bg="btn_cancel.bmp" hover="btn_cancel_a.bmp" down="btn_cancel_b.bmp"></ui-button>
</div>
