<div id="MergeItem">
	<div class="titlebar" data-background="basic_interface/titlebar_mid.bmp">
		<span class="text"></span>
		<button
			class="base close"
			data-background="basic_interface/sys_close_off.bmp"
			data-hover="basic_interface/sys_close_on.bmp"
		></button>
	</div>
	<div class="list"></div>
	<ui-button class="ok" bg="btn_ok.bmp" hover="btn_ok_a.bmp" down="btn_ok_b.bmp"></ui-button>
	<ui-button class="cancel" bg="btn_cancel.bmp" hover="btn_cancel_a.bmp" down="btn_cancel_b.bmp"></ui-button>
	<div class="resize" data-background="btn_resize.bmp"></div>
</div>
