<div id="ShortCut">
	<div class="row" data-background="shortcut/shortcut_frame.bmp">
		<div class="container" data-index="0"></div>
		<div class="container" data-index="1"></div>
		<div class="container" data-index="2"></div>
		<div class="container" data-index="3"></div>
		<div class="container" data-index="4"></div>
		<div class="container" data-index="5"></div>
		<div class="container" data-index="6"></div>
		<div class="container" data-index="7"></div>
		<div class="container" data-index="8"></div>
		<div class="index">1</div>
	</div>

	<div class="row" data-background="shortcut/shortcut_frame.bmp">
		<div class="container" data-index="9"></div>
		<div class="container" data-index="10"></div>
		<div class="container" data-index="11"></div>
		<div class="container" data-index="12"></div>
		<div class="container" data-index="13"></div>
		<div class="container" data-index="14"></div>
		<div class="container" data-index="15"></div>
		<div class="container" data-index="16"></div>
		<div class="container" data-index="17"></div>
		<div class="index">2</div>
	</div>

	<div class="row" data-background="shortcut/shortcut_frame.bmp">
		<div class="container" data-index="18"></div>
		<div class="container" data-index="19"></div>
		<div class="container" data-index="20"></div>
		<div class="container" data-index="21"></div>
		<div class="container" data-index="22"></div>
		<div class="container" data-index="23"></div>
		<div class="container" data-index="24"></div>
		<div class="container" data-index="25"></div>
		<div class="container" data-index="26"></div>
		<div class="index">3</div>
	</div>

	<div class="row" data-background="shortcut/shortcut_frame.bmp">
		<div class="container" data-index="27"></div>
		<div class="container" data-index="28"></div>
		<div class="container" data-index="29"></div>
		<div class="container" data-index="30"></div>
		<div class="container" data-index="31"></div>
		<div class="container" data-index="32"></div>
		<div class="container" data-index="33"></div>
		<div class="container" data-index="34"></div>
		<div class="container" data-index="35"></div>
		<div class="index">4</div>
	</div>

	<button class="skillbar" data-background="shortcut_1_bts.bmp" data-active="shortcut_2_bts.bmp"></button>
	<button
		class="minus"
		data-background="shortcut/btn_minus_normal.bmp"
		data-hover="shortcut/btn_minus_over.bmp"
		data-down="shortcut/btn_minus_press.bmp"
	></button>
	<button
		class="plus"
		data-background="shortcut/btn_plus_normal.bmp"
		data-hover="shortcut/btn_plus_over.bmp"
		data-down="shortcut/btn_plus_press.bmp"
		data-active="shortcut/btn_plus_disable.bmp"
	></button>

	<div class="shortcut-tooltip"></div>
</div>
