<div id="MiniMapView">
	<div class="titlebar" data-background="basic_interface/titlebar_mid.bmp">
		<button
			class="base"
			data-background="basic_interface/sys_base_off.bmp"
			data-hover="basic_interface/sys_base_on.bmp"
		></button>
		<span class="text"></span>
		<button
			class="close"
			data-background="basic_interface/sys_close_off.bmp"
			data-hover="basic_interface/sys_close_on.bmp"
		></button>
	</div>
	<div class="map">
		<canvas width="512" height="512"></canvas>
		<div class="points"></div>
	</div>
	<label class="check quest"><span class="box"></span><span class="label" data-text="2742">Quest</span></label>
	<label class="check npc"><span class="box"></span><span class="label" data-text="2744">Amenities</span></label>
	<label class="check member"
		><span class="box"></span><span class="label" data-text="2746">Guild member/Party member</span></label
	>
	<button
		class="record"
		data-background="minimap/memo_ready_1.bmp"
		data-hover="minimap/memo_ready_2.bmp"
		data-down="minimap/memo_ready_3.bmp"
	></button>
</div>
