<div id="RouletteOfficial">
	<div class="titlebar">
		<div class="corner left"><ui-image src="basic_interface/titlebar_left.bmp"></ui-image></div>
		<div class="center"><ui-image src="basic_interface/titlebar_mid.bmp"></ui-image></div>
		<div class="corner right"><ui-image src="basic_interface/titlebar_right.bmp"></ui-image></div>
		<div class="base"><ui-image src="basic_interface/sys_base_off.bmp"></ui-image></div>
		<ui-text class="title" msg="2641">Lucky Roulette</ui-text>
		<ui-button
			class="close"
			bg="basic_interface/sys_close_off.bmp"
			hover="basic_interface/sys_close_on.bmp"
			down="basic_interface/sys_close_on.bmp"
		></ui-button>
	</div>

	<div class="background"><ui-image src="basic_interface/roullette/roulletteBG.bmp"></ui-image></div>

	<div class="board"></div>
	<div class="highlight"></div>

	<div class="item slot prize">
		<div class="icon"></div>
		<div class="count"></div>
	</div>
	<div class="item slot bonus">
		<div class="icon"></div>
		<div class="count"></div>
	</div>

	<div class="arrow current"></div>
	<div class="arrow next"></div>
	<div class="arrow next-row"></div>

	<div class="point gold">0</div>
	<div class="point silver">0</div>
	<div class="point bronze">0</div>

	<ui-button
		class="btn-prize"
		bg="basic_interface/roullette/GetWinPrize_a.bmp"
		hover="basic_interface/roullette/GetWinPrize_a.bmp"
		down="basic_interface/roullette/GetWinPrize_b.bmp"
	></ui-button>
	<ui-button
		class="btn-start"
		bg="basic_interface/roullette/StartRoullette_a.bmp"
		hover="basic_interface/roullette/StartRoullette_a.bmp"
		down="basic_interface/roullette/StartRoullette_b.bmp"
	></ui-button>

	<div class="tooltip"></div>
</div>
